<table class="table_home" align="center" cellspacing="3">
    <tr>
        <td>welcome <label style="font-weight:bold;"> {{ name }} </label></td>            
    </tr>
    <tr>
        <td>You have been successfully registered</td>
    </tr>
    <tr>
        <td style="border:1px dotted #060;background-color:#FFFFEC;color:#005100;">
            <label style="font-size:18px; font-weight:bold;"> You can either login using {{ appln_no }} or using the e-mail provided at the registration page</label>
        </td>
    </tr>
    <tr>
        <td>Please note down your Application Number for future reference.</td>
    </tr>
    <tr>
        <td>Please use the login option, provided at the home page to login into the system to perform more actions</td>
    </tr>
</table>    